* {
    font-family: "Helvetica", "Arial", sans-serif;
 }

.white {
    color: white;
}

.gray {
    color: gray;
}

body {
    background-color: black;
 }

header {
    width: 100%;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 40px;
    width: 15em;
}

div h1 {
    height: 100%;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 80px;
}

.title {
    text-align: center;
    font-size: 3.3ch;
    font-weight: 525;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.list-container {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 50px;
}

li img {
    border-radius: 10%;
    width: 200px;

}

li p {
    width: 200px;
    text-align: center;
    margin-top: 10px;
    line-height: 2;   
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: black;
    border: solid white 1px;
    margin-top: 50px;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
}

.list-container li:hover img {
    border: solid white 2px;
    cursor: pointer;
}

.list-container li:hover p {
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: white; 
    color: black;
    cursor: pointer;
}